<html>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<body>
		<p>First name: <strong data-bind="text: firstName"></strong></p>
		<p>Last name: <strong data-bind="text: lastName"></strong></p>
		<p>First name: <input data-bind="value: firstName"></input></p>
		<p>Last name: <input data-bind="value: lastName"></input></p>
		<p>Full name: <strong data-bind="text: fullName"></strong></p>
		<button data-bind="click: setnametobull">click me</button>
		<button data-bind="click: capitalizeLastName">Capitalizse</button>
		<br><br>
		<h1>To-Do List</h1>
		<div>
			<form data-bind="submit: addTask">
			<input data-bind="value: newTaskText"/>
				<button type = "submit">Add</button>
			</form>
			<ol data-bind="foreach: tasks, visible : tasks().length > 0">
				<!-- <li data-bind="text: title"></li> -->
				<li>
					<input type="checkbox" data-bind="checked: isDone"/>
					<input data-bind="value: title, disable: isDone" />
					<button data-bind="click: $parent.removeTask">Delete</button><br>
				</li>
			</ol>
		</div>

		<script>
			var justice = new AppViewModel();
			function Task(data){
				var self = this;
				self.title = ko.observable(data.title);
				self.isDone= ko.observable(data.isDone);
				self.toJSON= function(){
					return {"title": self.title(), "isDone": self.isDone()}
				}
				self.notifyserver = function(){
    				var index = justice.tasks().indexOf(self);
    				$.ajax("/elements/"+index, {
    					type: "PUT",
    					data: ko.toJSON(self.toJSON()),
    					contentType: "application/json",
    					success: function(msg){
    						console.log("put",msg);
    					}
    				});
				}
				self.title.subscribe(self.notifyserver);
				self.isDone.subscribe(self.notifyserver);
			}


			function AppViewModel() {
				var self =	this;
				self.firstName = ko.observable("Bert");
				self.lastName = ko.observable("Bertington");
				self.fullName = ko.computed( function(){
    				return self.firstName() + " " + self.lastName();
    			});
    			self.setnametobull = function() {
        			self.firstName("bull");
    			};
    			self.capitalizeLastName = function() {
        			var currentVal =	self.lastName();
        			self.lastName(currentVal.toUpperCase());
    			};
    			//tutorial code ^^ 
    			//real code VV
    			self.newTaskText = ko.observable();
    			self.tasks = ko.observableArray([]);
    			self.addTask = function(){
    				var newTask = new Task({title: self.newTaskText(), isDone: false});
    				self.tasks.push(newTask);
    				self.newTaskText("");
    				$.ajax("/elements", {
    					data: ko.toJSON(newTask.toJSON()),
    					type: "POST",
    					contentType: "application/json",
    					success: function(result){console.log(result)}
    				});
    			}


    			//fix this somehow 
    			self.removeTask = function(item){
    				var index = self.tasks().indexOf(item);
    				self.tasks.remove(item);
    				$.ajax("/elements/"+index, {
    					type: "DELETE",
    					success: function(msg){
    						console.log("deleted",msg);
    					}

    				})
    			}
				$.ajax("/elements", {
					type: "GET", 
					success: function(result){
						self.tasks(result.payload.map(function(item){
							var tempItem = new Task(item);
							return tempItem;
						}));

						console.log(result)
					}
				});


			}
			ko.applyBindings(justice);			

		</script>
	</body>


</html>