<html>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<body>
		<p>First name: <strong data-bind="text: firstName"></strong></p>
		<p>Last name: <strong data-bind="text: lastName"></strong></p>
		<p>First name: <input data-bind="value: firstName"></input></p>
		<p>Last name: <input data-bind="value: lastName"></input></p>
		<p>Full name: <strong data-bind="text: fullName"></strong></p>
		<button data-bind="click:setnametobull">click me</button>
		<button data-bind="click: capitalizeLastName">Capitalizse</button>
		<br><br>
		<h1>To-Do List</h1>
		<div>
			<form data-bind="submit: addTask">
			<input data-bind="value: newTaskText"/>
				<button type = "submit">Add</button>
			</form>
			<ul data-bind="foreach: tasks, visible : tasks().length > 0">
				<!-- <li data-bind="text: title"></li> -->
				<input data-bind="value: title, disable: isDone" />
				<button type="checkbox" data-bind="click: $parent.removeTask">Delete</button><br>
			</ul>
		</div>

		<script>
			function Task(data){
				this.title = ko.observable(data.title);
				this.isDone= ko.observable(data.isDone);
			}


			function AppViewModel() {
				var self = this;
				this.firstName = ko.observable("Bert");
				this.lastName = ko.observable("Bertington");
				this.fullName = ko.computed( function(){
    				return self.firstName() + " " + self.lastName();
    			});
    			this.setnametobull = function() {
        			self.firstName("bull");
    			};
    			this.capitalizeLastName = function() {
        			var currentVal = this.lastName();
        			this.lastName(currentVal.toUpperCase());
    			};
    			//tutorial code ^^ 
    			//real code VV
    			self.newTaskText = ko.observable();
    			self.tasks = ko.observableArray([]);
    			self.addTask = function(){
    				self.tasks.push(new Task({title: this.newTaskText()}))
    				self.newTaskText("");
    			}
    			self.removeTask = function(task){ self.tasks.remove(task)}
    			self.saveTasks = function(){
    				$.ajax("/elements", {
    					data: ko.toJSON({tasks: self.tasks}),
    					type: "post", 
    					contentType: "application/json",
    					success: function(result){alert(result)}
    				});
    			}



			}
			ko.applyBindings(new AppViewModel());

				// self.getInitialData = function() {
				// 	$.ajax({
				// 		url:"/elements",
				// 		type:"GET",
				// 		success: function(res) {
				// 			console.log(res);
				// 		}


				// 	})
				// }

			

		</script>
	</body>


</html>